* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(173, 173, 173) !important;
}

h1{
  padding-bottom: 50px;
  color: greenyellow !important;
}

.data-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.startEndDay{
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.startEndDay label{
  display: block;
  padding-bottom: 15px;
}

.startEndDayTable {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  border: 1px solid gray;
  border-radius: 30px;
}

.buttons {
  padding-bottom: 50px;
  display: flex;
  gap: 1em;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image{
  width: 200px;
  height: auto;
}

.delorean {
  width: 200px;
  height: auto;
  padding-bottom: 60px;
}

.orbitron-title{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.modal-title {
  padding-top: 2em;
  padding-left: 1.5em;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#user-select, #start-input, #end-input{
  border-radius: 15px;
}

#start, #end {
  margin-right: 1em;
  border-radius: 15px;
  background-color: rgb(192, 192, 192);
  border: 1px solid gray;
}

.modal-content{
  background-color: rgb(192, 192, 192) !important;
}

.modal-header{
  border-bottom: none !important;
}

.modal-body{
  margin: 0 auto;
}

.btn-close{
  padding-right: 4em !important;
}